
@{
    ViewBag.Title = "关于我们";
    Layout = "~/Views/_Layout_index.cshtml";
}

<div class="bg-lightgrey">
    <!--关于我们-->
    <div class="am-padding-xl bg-white">
        <div class="container">
            <div class="text-center am-text-default">
                <div class="am-text-lg">
                    关于中威无忧
                </div>
                <div class="relative">
                    <hr />
                    <span class="hrTitle-w grey">
                        About us
                    </span>
                </div>
            </div>
            <div class="am-padding-xl grey">
                <p>　　山东中威永丰企业服务有限公司是经青岛市工商行政管理局及青岛市人力资源和社会保障局批准成立，具有独立法人资格的人力资源公司，是集人事服务、人才输出、人才派谴、出国流学、创业教育、人才招聘及培训、劳动事务代理以及开展招聘会为一体的综合性人力资源服务企业。截至 2016 年，为超过 3 万余人次提供了人事代理服务。山东中威永丰力创人力资源的中国品牌，以“做企业的公共服务专家、做高校的泛就业助手”为企业愿景，推动近千家中国企业进行引进人才、组织变革、机制创新、文化重塑。作为人力资源服务领域的一员，我们秉承“诚信、专业、优服、创新”的服务理念，致力于打造符合中国特色的中小微企业经纪综合服务平台，使企业、人才、高校提升各方价值，增强核心竞争力，获取竞争优势。</p>
            </div>
            <div class="row text-center">
                <div class="col-lg-4">
                    <img src="/Content/img/aboutUs1.jpg" width="307" height="218" />
                </div>
                <div class="col-lg-4">
                    <img src="/Content/img/aboutUs2.jpg" width="307" height="218" />
                </div>
                <div class="col-lg-4">
                    <img src="/Content/img/aboutUs3.jpg" width="307" height="218" />
                </div>
            </div>
        </div>
    </div>
    <!--无忧数据优势-->
    <div class="am-padding-xl bg-white am-margin-vertical-sm">
        <div class="container">
            <div class="text-center am-text-default">
                <div class="am-text-lg">
                    无忧数据优势
                </div>
                <div class="relative">
                    <hr />
                    <span class="hrTitle-w grey">
                        Advantage
                    </span>
                </div>
            </div>
            <div class="advantgeBox-w am-padding-top-lg">
                <ul class="list-unstyled clearfix">
                    <li>
                        <div class="itemBox am-text-default">
                            <div>分段计算</div>
                            <div>自动调基</div>
                        </div>
                    </li>
                    <li>
                        <div class="itemBox am-text-default">
                            <div>便捷体验</div>
                            <div>清晰透明</div>
                        </div>
                    </li>
                    <li>
                        <div class="itemBox am-text-default">
                            <div>办理进度</div>
                            <div>实时反馈</div>
                        </div>
                    </li>
                    <li>
                        <div class="itemBox am-text-default">
                            <div>账单明细</div>
                            <div>自动生成</div>
                        </div>
                    </li>
                    <li>
                        <div class="itemBox am-text-default">
                            <div>信用评级</div>
                            <div>基数循环</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--服务内容-->
    <div class="am-padding-xl bg-white am-margin-bottom-sm">
        <div class="container am-text-default">
            <div class="text-center">
                <div class="am-text-lg">
                    服务内容
                </div>
                <div class="relative">
                    <hr />
                    <span class="hrTitle-w grey">
                        Service Content
                    </span>
                </div>
            </div>
            <ul class="serviceBox-w grey">
                <li>社保及公积金政策咨询</li>
                <li>代办年度一次社保基数调整手续</li>
                <li>代办养老保险缴纳手续</li>
                <li>代办年度一次公积金基数调整手续</li>
                <li>代办医疗保险缴纳手续</li>
                <li>提供全国主要城市的参保证明</li>
                <li>代办生育保险缴纳手续</li>
                <li>提供公积金提取、按月转账申请盖章材料</li>
                <li>代办住房公积金缴纳手续</li>
                <li>协助个体办理当地政策规定可报销的生育医疗费报销</li>
            </ul>
        </div>
    </div>
    <!---->
</div>

