@{ ViewBag.Title = "社保/公积金"; Layout = "~/Views/_Layout_index.cshtml"; }

<div class="info-content container">
    <div class="am-padding bg-lightgrey info-location">
        <a href="@Url.Action("insurance","index")" class="text-muted">
            <span class="bg-white icon-w-box am-text-middle">
                <i class="icon-w icon-home" aria-hidden="true"></i>
            </span>
            <span class="am-text-middle am-padding-left-xs">HOME</span>
        </a>
        <!--<span>></span>
        <span><a href="info-list.html" class="text-muted">最新新闻</a></span>-->
        <span>></span>
        <span>孩子上学</span>
    </div>
    <!--咨询文章-->
    <img src="/Content/img/descrip1-banner.png" alt="banner" class="des-banner" />

    <div class="am-text-center am-padding info-detail des">
        <h4>让每个宝宝“有学可上”</h4>
        
        <artical class="am-margin-top-lg info-detail-content">
            <div class="text-center">
                <img src="/Content/img/descrip3-baby.png" alt="孩子上学" class="descrip3-top" />
            </div>
            <p>
                <div>
                    非本市户口宝宝入学，父母至少有一方需在青工作，提供相应材料：劳动合同或工商营业执照，一般各区均会要求在孩子入学，学校所在区的劳动合同或者工商营业执照。父母在子女入学区域务工一年以上。父母至少一方持有相应区公安部门核发的“青岛市居住证”。
                </div>
            </p>
            <p>
                <!--<h5><strong>二、申请公积金贷款额度</strong>  </h5>-->
                <div>
                    <strong>特别注意的是：<br/></strong>今年的社保缴费文件中提到了非本市户籍的学前教育机构的在册<strong>儿童参加居民医保</strong>的，需其父母一方正在参加本市社会保险并连续<strong>缴费满一年</strong>以上！！
                    @*（一）按还贷能力计算的贷款额度<br /> （二）按公积金账户正常缴存余额的倍数计算的贷款额度<br /> （三）按规定比例计算的贷款额度</br/>*@

                </div>
            </p>

        </artical>
    </div>
</div>
