@{ ViewBag.Title = "社保/公积金"; Layout = "~/Views/_Layout_index.cshtml"; }

<div class="info-content container">
    <div class="am-padding bg-lightgrey info-location">
        <a href="@Url.Action("insurance","index")" class="text-muted">
            <span class="bg-white icon-w-box am-text-middle">
                <i class="icon-w icon-home" aria-hidden="true"></i>
            </span>
            <span class="am-text-middle am-padding-left-xs">HOME</span>
        </a>
        <!--<span>></span>
        <span><a href="info-list.html" class="text-muted">最新新闻</a></span>-->
        <span>></span>
        <span>出国签证</span>
    </div>
    <!--咨询文章-->
    <img src="/Content/img/descrip1-banner.png" alt="banner" class="des-banner" />

    <div class="am-text-center am-padding info-detail des">
        <h4>出国签证辅助材料—让您轻松出行</h4>
        <artical class="am-margin-top-lg info-detail-content">
            <div class="text-center">
                <img src="/Content/img/descrip8-xinyong.png" alt="信用贷款" class="descrip6-top" />
            </div>
            <p>
                大部分国家领馆会要求申请人出具公司在职证明，其目的是：确定你在国内是有不可移动的条件限制你必须回国，公司工作就是你在国内不可移动的条件。领馆会根据在职证明上的电话致电工作公司，同公司员工确认申请人的职位和薪资，以评估您的条件是否符合申请通过标准！例如：
            </p>
            <p>
                <h5><strong>一、日本旅游签证所需一些主要证明文件如下：</strong>  </h5>
                <div>
                    1、护照、照片、身份证复印件、户口本正本复印件；<br /> 2、结婚证（离婚证）（未婚不用提供）；
                    <br /> <strong>3、在职证明、银行流水、公司营业执照副本或者公司代码；</strong>
                    <br /> 4、资产证明（房产、车产、储蓄等）
                    <br /> 5、机票行程单、酒店预订单、签证申请表（由代办旅行社提供）、个人信息处理同意书，有的旅行社会要押金。
                </div>
            </p>
            <p>
                <h5><strong>二、美国签证所需一些主要证明文件如下：</strong>  </h5>
                <div>
                    1、个人身份证明文件-有效护照、出生证明书、证件照片。<br /> 2、家庭背景证明文件-现行户籍、户籍关系复印件、家庭全家福照片、认养证书、过继证明书等。
                    <br /><strong>3、职业证明文件-工作服务证明、公司应聘书、薪资和扣缴凭单、职位证明等。</strong>  <br /> 4、婚姻证明文件-未婚证明书、结婚证书、离婚证书、订婚证书或宣誓书，结婚书包括订婚聘书、婚姻照片、书信、亲友证明等文件和公证。 <br /> 5、学历证明文件-毕业证书、结业证书、托福成绩单、在校成绩单、学位证明书、教授专家推荐的信函、专业论文等。 <br /> 6、守法良民证明书-无犯罪公证书(或称警察证明书、未满16岁者免)、受刑人出监证明书等。 <br /> 7、健康状况证明文件-合格的医院(由美移民局指定的单位)出具的体格检查表、胸部X光照片、预防接种、免疫证明等。
                    <br /> 8、个人财产证明文件-通常包括证明个人拥有的股票、房地契、税单、银行存折等财产文件。
                </div>
            </p>
        </artical>
    </div>
</div>
