@{ ViewBag.Title = "社保/公积金"; Layout = "~/Views/_Layout_index.cshtml"; }

<div class="info-content container">
    <div class="am-padding bg-lightgrey info-location">
        <a href="@Url.Action("insurance","index")" class="text-muted">
            <span class="bg-white icon-w-box am-text-middle">
                <i class="icon-w icon-home" aria-hidden="true"></i>
            </span>
            <span class="am-text-middle am-padding-left-xs">HOME</span>
        </a>
        <!--<span>></span>
        <span><a href="info-list.html" class="text-muted">最新新闻</a></span>-->
        <span>></span>
        <span>生育津贴</span>
    </div>
    <!--咨询文章-->
    <img src="/Content/img/descrip1-banner.png" alt="banner" class="des-banner" />

    <div class="am-text-center am-padding info-detail des">
        <h4>生育津贴领取小常识</h4>
        <artical class="am-margin-top-lg info-detail-content">
            <div class="text-center">
                <img src="/Content/img/descrip5-shengyu.png" alt="生育津贴" class="descrip5-top" />
            </div>
            <p>
                <div>
                    自2016年1月1日起，凡符合规定生育子女的夫妻，女职工生育前累计连续缴费满1年以上，可以享受158天产假（难产增加产假15天;多胞胎每多生育1个婴儿，增加产假15天），产假期间享受生育津贴。生产期间女职工生育的检查费、手术费、住院费和药费（部分）由生育保险基金支付。女职工生育出院后，因生育引起疾病的医疗费，由生育保险基金支付。（只有医疗保险，是无法为生育买单的！！）
                </div>
            </p>
            <p>
                <h5><strong>一、符合条件的女职工可以享受哪些生育保险待遇？</strong>  </h5>
                <div>
                    （一）计划内生育发生的诊疗费用。女职工合法生育在妊娠期、分娩期内，因妊娠和生育发生的诊断费、检查费、治疗费、检验费、接生费、手术费、住院费和药费等符合生育保险基金支付范围的，由社会保险经办机构按规定予以支付，超出部分个人自负；<br />
                    （二）计划生育手术发生的诊疗费用。职工因实施计划生育手术放置（取出）宫内节育器、流产术、引产术、绝育及绝育术后的复通手术以及实施上述手术引发的并发症等发生的医疗费用，符合生育保险基金支付范围的，由社会保险经办机构按规定予以支付，超出部分个人自负；<br />
                    （三）生育津贴(产假工资)。女职工合法生育或流、引产按规定享受生育津贴。生育津贴按照职工生育或流引产时所在用人单位上年度职工月平均工资计发。职工生育或流引产前12个月变动工作单位的，其生育津贴按照生育或流引产前12个月内工作过的各用人单位上年度职工月平均工资加权平均数计发。具体计算公式：生育津贴标准=当年度1月份单位生育保险缴费基数÷对应的参加生育保险人数。<br />

                </div>
            </p>
            <p>
                <h5><strong>二、女职工生育可以享受多少天产假？</strong>  </h5>
                <div>
                    （一）符合《人口与计划生育法》生育，顺产的为158日，难产的增加15日；多胞胎生育的，每多生育一胎，增加15日。<br />
                    （二）女职工妊娠不满2个月流产的，产假为15天；妊娠2个月以上不满3个月流产的，产假为20天；妊娠3个月以上不满4个月流产的，产假为30天；妊娠4个月以上流产、引产的，产假为42天。
                </div>
            </p>

        </artical>
    </div>
</div>
