@{ ViewBag.Title = "社保/公积金"; Layout = "~/Views/_Layout_index.cshtml"; }

<div class="info-content container">
    <div class="am-padding bg-lightgrey info-location">
        <a href="@Url.Action("insurance","index")" class="text-muted">
            <span class="bg-white icon-w-box am-text-middle">
                <i class="icon-w icon-home" aria-hidden="true"></i>
            </span>
            <span class="am-text-middle am-padding-left-xs">HOME</span>
        </a>
        <!--<span>></span>
        <span><a href="info-list.html" class="text-muted">最新新闻</a></span>-->
        <span>></span>
        <span>信用贷款</span>
    </div>
    <!--咨询文章-->
    <img src="/Content/img/descrip1-banner.png" alt="banner" class="des-banner" />

    <div class="am-text-center am-padding info-detail des">
        <h4>优化您的生活</h4>
        <artical class="am-margin-top-lg info-detail-content">

            <div class="text-center">
                <img src="/Content/img/descrip7-visa.png" alt="出国签证" class="descrip6-top" />
            </div>
            <p>
                <h5><strong>一、“中威无忧”平台，无忧贷款</strong>  </h5>
                <div>
                    山东中威永丰企业服务有限公司的“中威无忧”平台为您提供小额无担保贷款，前提需客户在我公司平台正常缴纳6个月社保。
                </div>
            </p>
            <p>
                <h5><strong>二、各大银行信用卡申请条件中都有社会保险和工作证明的相应体现：</strong>  </h5>
                <div>
                    各大银行信用卡申请人必须年满18周岁，且具有完全民事行为能力、有合法、稳定的收入来源且资信良好，需要提供的材料如下： <br /> 1、身份证明：一般是身份证（身份证正反面复印件），军人需提供军人证复印件；
                    <br /> 2、工作证明：可以是任职单位开立的
                    <strong>工作证明</strong>原件（具体的公司名称、部门、岗位及收入情况，并加盖公司公章或人事章），或工作证/牌复印件； <br /> 3、财力证明：可以是银行代发工资记录，或所得税扣缴凭证，或房、车、存款和投资市值证明文件（如房产证/汽车行驶证/银行定期存单的复印件）等能证明您财力水平的资料。 <br /> 4、其他可供参考的文件还包括：
                    <strong>近6个月社会保险个人账户清单</strong>、水、煤气账单、他行信用卡账单等。
                </div>
            </p>
            <p>
                <h5><strong>三、贷款买车一般条件：</strong>  </h5>
                <div>
                    1、年龄为：25-55周岁；<br /> 2、中国大陆居民且现
                    <strong>单位工作满半年</strong>；<br /> 3、能够支付汽车的首付款；
                    <br /> 4、有持续稳定的
                    <trong>工作收入证明</trong>及良好的信用记录（良好信用记录者可免抵押信用贷款）。
                </div>
            </p>
            <p>
                <h5><strong>四、商业贷款买房政策：</strong>  </h5>
                <div>
                    一般情况所需条件为：<br /> 1、年龄在18-60岁的自然人（港澳台及外籍亦可）；
                    <br /> 2、具有<strong>稳定职业、稳定收入，工作证明</strong>，按期偿付贷款本息的能力；
                    <br /> 3、借款人的实际年龄加贷款申请期限不应超过70岁；
                    <br /> 4、有合法有效的购买、建造、大修住房的合同、协议以及贷款行要求提供的其他证明文件；
                    <br /> 5、有所购住房全部价款30%以上的自筹资金（对购买自住住房且套型建筑面积90平方米以下的, 自筹资金比例为20%），并保证用于支付所购住房的首付款；<br /> 6、有贷款行认可的资产进行抵押或质押，或（和）有足够代偿能力的法人、其他经济组织或自然人作为保证人。
                </div>
            </p>
        </artical>
    </div>
</div>
