@{ ViewBag.Title = "社保/公积金"; Layout = "~/Views/_Layout_index.cshtml"; }

<div class="info-content container">
    <div class="am-padding bg-lightgrey info-location">
        <a href="@Url.Action("insurance","index")" class="text-muted">
            <span class="bg-white icon-w-box am-text-middle">
                <i class="icon-w icon-home" aria-hidden="true"></i>
            </span>
            <span class="am-text-middle am-padding-left-xs">HOME</span>
        </a>
        <!--<span>></span>
        <span><a href="info-list.html" class="text-muted">最新新闻</a></span>-->
        <span>></span>
        <span>福利待遇</span>
    </div>
    <!--咨询文章-->
    <img src="/Content/img/descrip1-banner.png" alt="banner" class="des-banner" />

    <div class="am-text-center am-padding info-detail des">
        <h4>在青缴纳社保公积金福利待遇政策</h4>
        <artical class="am-margin-top-lg info-detail-content">
            <div class="text-center">
                <img src="/Content/img/descrip6-fulidaiyu.png" alt="福利待遇" class="descrip6-top" />
            </div>
            <p>
                <h5><strong>一、青岛户口“4050”社保补贴政策</strong>  </h5>
                <div>
                    “4050”工程是市政府促进困难群体就业的一项重要措施，旨在为特殊历史时期形成的女性40岁以上、男性50岁以上的下岗协保失业等就业困难群体度身定制就业岗位，以市场化、社会化的运作机制，促进其就业。<br />
                    所谓“4050”社保补贴政策，是我国政府为了促进困难群体就业的一个措施，“4050”指的是女性40岁以上、男性50岁以上的下岗协保失业等就业困难群体。凡是在这个年龄段没有社会保险保障的灵活就业人员，都可以申请参加国家的“4050”社保补贴。这一补贴通常申领年限为三年，补贴申领至退休(就是最长年限五年)达到退休年龄为止。
                </div>
            </p>
            <p>
                <h5><strong>二、在青就业研究生住房补贴政策</strong>  </h5>
                <div>
                    派遣期内在青岛市行政辖区内就业的国内普通高校统招全日制研究生；2016年以后首次来青就业，并取得教育部留学服务中心国（境）外学历学位认证的留学回国研究生，须具有本市户籍，正常缴纳社会保险，与用人单位通过“山东省教育厅高校毕业生就业网”签订就业协议，且报到证已派遣到用人单位，可享受最长不超过36个月的住房补贴，补贴标准为硕士研究生800元/月，博士研究生1200元/月，紧缺专业硕士研究生1200元/月，紧缺专业博士研究生1500元/月。紧缺专业目录由青岛市人力资源和社会保障局会同相关部门定期发布。
                </div>
            </p>
            <p>
                <h5><strong>三、外来人口落户青岛政策</strong>  </h5>
                <div>
                    青岛市积分落户申报范围：具有高中以上学历，在本市城区和新区有合法固定住所，持本市有效的《山东省居住证》满3年，在本市城区和新区就业创业并<strong>缴纳社会保险满3年</strong>，无犯罪记录，申请将户口迁入本市城区和新区的人员；青岛市买房落户：需要<strong>缴纳社会保险满半年</strong>；人才引进落户：本科及以上学历需要有接收单位，大专必须<strong>缴纳社会保险满2年</strong>以上。
                </div>
            </p>

        </artical>
    </div>
</div>
