@{ ViewBag.Title = "社保/公积金"; Layout = "~/Views/_Layout_index.cshtml"; }

<div class="info-content container">
    <div class="am-padding bg-lightgrey info-location">
        <a href="@Url.Action("insurance","index")" class="text-muted">
            <span class="bg-white icon-w-box am-text-middle">
                <i class="icon-w icon-home" aria-hidden="true"></i>
            </span>
            <span class="am-text-middle am-padding-left-xs">HOME</span>
        </a>
        <!--<span>></span>
        <span><a href="info-list.html" class="text-muted">最新新闻</a></span>-->
        <span>></span>
        <span>医疗保障</span>
    </div>
    <!--咨询文章-->
    <img src="/Content/img/descrip1-banner.png" alt="banner" class="des-banner" />

    <div class="am-text-center am-padding info-detail des">
        <h4>医疗保险小常识</h4>
        <artical class="am-margin-top-lg info-detail-content">
            <div class="text-center">
                <img src="/Content/img/descrip4-yiliao.png" alt="医疗常识" class="descrip4-top" />
            </div>
             <p>
                <h5><strong>1、职工社会医疗保险的年最高保障额度是多少？</strong>  </h5>
                <div>
                    职工基本医疗保险年度最高支付限额为20万元；经基本医疗保险报销后，对统筹范围内个人负担费用较大的，再由大病医疗保险按规定予以报销，年度最高支付限额为60万元；对统筹范围外个人负担的大额医疗费用和特药特材费用，给予大病医疗救助，年度最高救助10万元以上。三项待遇合计，职工医保参保人年最高保障额度达到90万元以上。
                </div>
            </p>
            <p>
                <h5><strong>2、职工医保参保人的住院待遇是如何规定的？</strong>  </h5>
                <div>
                    职工医保参保人在一、二、三级定点医疗机构住院发生的、起付标准以上的统筹支付范围内医疗费用，年度累计在4万元以下的部分，退休前支付比例分别为90%、88%、86%，退休后分别为95%、94%、93%；年度累计4万元以上的部分，退休前统一支付比例为95%，退休后为97%。
                </div>
            </p>
            <p>
                <h5><strong>3、职工医保参保人门诊大病待遇是如何规定的？</strong>  </h5>
                <div>
                    职工医保参保人在定点医疗机构发生的起付标准以上的统筹支付范围内门诊大病医疗费用，在一、二、三级定点医疗机构报销比例分别为90％、88％、86％，超过病种限额标准以上的部分报销50%；在社区定点医疗机构报销92%，超过病种限额标准以上的部分报销70%。
                </div>
            </p>
            <p>
                <h5><strong>4、职工医疗保险参保人门诊统筹待遇是如何规定的？</strong>  </h5>
                <div>
                    为引导患者小病到社区就医，职工医保参保人在社区定点医疗机构发生的普通门诊医疗费报销60%，年最高报销1120元。其中，基本药物报销比例提高10个百分点。
                </div>
            </p>
            <p>
                <h5><strong>5、大病医疗保险待遇是如何规定的？</strong>  </h5>
                <div>
                    职工医疗保险参保人在定点医药机构发生的住院和门诊大病医疗费，经基本医疗保险支付后，统筹范围内的个人负担费用可按规定纳入大病医疗保险支付范围：<br />
                    （一）超限补助。超出基本医疗保险统筹基金最高支付限额以上的医疗费，职工补助 90%。一个年度内最高补助40万元。<br />
                    （二）大额补助。在一个年度内累计超过大病医疗保险起付标准（具体标准另行制定公布）以上的部分，职工补助75%。医保参保人中，尿毒症透析治疗、器官移植抗排异治疗参保人的大病医疗保险起付标准统一为3000元，超出起付标准以上的部分，职工补助75%。一个年度内最高支付20万元。</br>

                </div>
            </p>
            <p>
                <h5><strong>6、职工医疗保险参保人大病医疗救助待遇是如何规定的？</strong>  </h5>
                <div>
                    职工医保参保人在定点医药机构发生的住院、门诊大病医疗费，在享受基本医疗保险待遇和大病医疗保险待遇的基础上，统筹范围外的个人负担费用可按规定纳入大病医疗救助资金支付范围：<br />
                    （一）符合条件的参保人使用特药特材发生的医疗费，救助70%。<br />
                    （二）统筹范围外治疗必需的医疗费，年度累计超过5万元以上的部分救助60%。抚恤定补优抚对象、低保和低保边缘家庭参保人不设大额救助起付标准。一个年度内大额救助最高支付10万元。<br />
                    （三）符合条件的低收入家庭参保人，还可按规定享受民政部门的特殊医疗救助待遇。<br />
                </div>
            </p>
            <p>
                <h5><strong>7、职工社会医疗保险的待遇等待期是如何规定的？</strong>  </h5>
                <div>
                    职工社会医疗保险设定了等待期规定，符合参加职工社会医疗保险条件的人员，应当在3个月内及时办理参保缴费。连续续费不满6个月的，只享受基本医疗保险个人账户待遇；连续缴费满6个月后，按照规定享受职工社会医疗保险待遇。中断参保三个月以上的职工，再次参保时等待期重新计算。
                </div>
            </p>

        </artical>
    </div>
</div>
