@{ ViewBag.Title = "社保/公积金"; Layout = "~/Views/_Layout_index.cshtml"; }

<div class="project">
    <!--header-->
    
    <!--logo/搜索-->
    
    <!--导航栏-->
    
    <!--咨询详情-->
    <div class="info-content container">
        <div class="am-padding bg-lightgrey info-location">
            <a href="@Url.Action("insurance","index")" class="text-muted">                
                    <span class="bg-white icon-w-box am-text-middle">
                        <i class="icon-w icon-home" aria-hidden="true"></i>
                    </span>
                    <span class="am-text-middle am-padding-left-xs">HOME</span>
                </a>
                <!--<span>></span>
        <span><a href="info-list.html" class="text-muted">最新新闻</a></span>-->
                <span>></span>
                <span>社保服务</span>
</div>
        <!--咨询文章-->
        <img src="/Content/img/descrip1-banner.png" alt="banner" class="des-banner" />

        <div class="am-text-center am-padding info-detail des">
            <h4>“五险”小常识</h4>
            <artical class="am-margin-top-lg info-detail-content">
                <div class="text-center">
                    <img src="/Content/img/descrip1-1.png" alt="五险" class="descrip1-top" />
                </div>
                <div>
                    <strong>“五险”</strong>是指社会保险中的养老保险、医疗保险、工伤保险、失业保险和生育保险
                </div>
                <ul class="descrip1-ul des-col-3">
                    <li>
                        <img src="/Content/img/descrip1-yanglao.png" alt="养老" />
                        <div class="text-center">养老保险</div>
                    </li>
                    <li>
                        <img src="/Content/img/descrip1-yiliao.png" alt="医疗" />
                        <div class="text-center">医疗保险</div>
                    </li>
                    <li>
                        <img src="/Content/img/descrip1-gongshang.png" alt="工伤" />
                        <div class="text-center">工商保险</div>
                    </li>
                </ul>
                <div>
                    <strong>养老保险：</strong>企业职工、个体及自由职业者、灵活就业人员缴费年限满15年（包括视同工龄），男职工年满60周岁，女干部年满55周岁，女工人年满50周岁，到退休的时候才能终生享受养老金。
                </div>
                <div>
                    <strong>医疗保险：</strong>职工社会医疗保险参保人累计缴费年限男满25年、女满20年的，退休后不再缴纳基本医疗保险费，按照规定享受职工社会医疗保险待遇。正常缴纳职工医疗（或退休职工）每个月医保个人账户会计入2%-4.5%款项，可以直接刷社保卡去买药或者看门诊，也可以享受统筹医疗和大病报销，生病住院的费用还可以报销。
                </div>
                <div>
                    <strong>工伤保险：</strong>依法参加工伤保险职工，受到事故伤害或者患职业病，经认定为工伤的，均有依照《工伤保险条例》的规定享受工伤保险待遇的权利。主要有医疗待遇、伤残待遇、停工留薪期待遇、因工死亡待遇等。
                </div>
                <ul class="descrip1-ul des-col-2">
                    <li>
                        <img src="/Content/img/descrip1-shengyu.png" alt="生育保险" />
                        <div class="text-center">生育保险</div>
                    </li>
                    <li>
                        <img src="/Content/img/descrip1-shiye.png" alt="失业保险" />
                        <div class="text-center">失业保险</div>
                    </li>
                </ul>
                <div>
                    <strong>生育保险：</strong>自2016年1月1日起，在青凡符合规定生育子女的夫妻，女职工生育前累计连续缴费满1年以上，可以享受158天产假（难产增加产假15天;多胞胎每多生育1个婴儿，增加产假15天），产假期间享受生育津贴。生产期间女职工生育的检查费、手术费、住院费和药费（部分）由生育保险基金支付。女职工生育出院后，因生育引起疾病的医疗费，由生育保险基金支付。
                </div>
                <div>
                    <strong>失业保险：</strong>按照规定参加失业保险，所在单位和本人已按照规定履行缴费义务满１年的，非因本人意愿中断就业的，已办理失业登记，并有求职要求的人员可以申领失业金。符合申领条件的失业人员，失业前所在单位和本人累计缴费时间满1年不足5年的，每满1年，领取3个月的失业保险金；累计缴费时间满5年不足10年的，领取失业保险金的期限最长为18个月；累计缴费时间10年以上的，领取失业保险金的期限最长为24个月（农业户口一次性支付）。
                </div>
            </artical>
        </div>
    </div>

</div>
