@{
    ViewBag.Title = "如何买";
    Layout = "~/Views/_Layout_index_1.cshtml";
}
<!--咨询详情-->
<div class="">
    <div class="am-padding bg-lightgrey">
        <div class="container">
            <a href="/" class="text-muted">
                <span class="bg-white icon-w-box am-text-middle">
                    <i class="icon-w icon-home" aria-hidden="true"></i>
                </span>
                <span class="am-text-middle am-padding-left-xs">HOME</span>
            </a>
            <span>></span>
            <span>如何买</span>
        </div>
    </div>
    <!--banner图-->
    <img src="~/Content/img/PC_banner3.jpg" alt="如何买" width="100%" />
    <div>
        <div class="text-center bg-lightgrey grey">
            <!--<img src="img/b3-buy.jpg" alt="如何买" />-->
            <div class="intro-buy text-center am-padding-horizontal">
                <img src="~/Content/img/buy-1.png" alt="如何购买社保" class="am-margin-top-lg" />
                <div>
                    <p class="text-left">在首页中，直接选择“缴社保”</p>
                    <img src="~/Content/img/buy-2.png" alt="缴社保" />
                </div>
                <div>
                    <p class="text-left">进入添加参保人</p>
                    <img src="~/Content/img/buy-3.png" alt="进入添加参保人" />
                </div>
                <div>
                    <p class="text-left">信息编辑完成点击“下一步”进入缴纳社保</p>
                    <img src="~/Content/img/buy-4.png" alt="进入添加参保人" />
                </div>
                <div>
                    <p class="text-left">信息编辑完成点击“确认参保”进入社保订单页。点击“提交订单”进行支付。</p>
                    <img src="~/Content/img/buy-5.png" alt="进入添加参保人" />
                </div>
            </div>
            <!--如何查询办理结果-->
            <div class="intro-buy text-center am-padding-horizontal">
                <img src="~/Content/img/buy-6.png" alt="如何查询办理结果" class="am-margin-top-lg" />
                <div>
                    <p class="text-left">在首页“我的帐户-我的订单”会显示社保或公积金订单状态，详情</p>
                    <img src="~/Content/img/buy-7.png" alt="缴社保" />
                </div>

            </div>
        </div>
    </div>
</div>
