@{
    ViewBag.Title = "社保规则";
    Layout = "~/Views/_Layout_index_1.cshtml";
}
<!--咨询详情-->
<div class="">
    <div class="am-padding bg-lightgrey">
        <div class="container">
            <a href="/" class="text-muted">
                <span class="bg-white icon-w-box am-text-middle">
                    <i class="icon-w icon-home" aria-hidden="true"></i>
                </span>
                <span class="am-text-middle am-padding-left-xs">HOME</span>
            </a>
            <span>></span>
            <span>社保</span>
        </div>
    </div>
    <!--banner图-->
    <img src="~/Content/img/PC_banner1.jpg" alt="社保" width="100%" />
    <div class="bg-lightgrey am-margin-top-0">
        <div class="">
            <div class="intro-shebao">
                <ul class="am-margin-bottom-0">
                    <li>
                        <h3 class="am-margin-top-0">什么是社保？</h3>
                        <article class="grey">
                            <p class="am-margin-top-lg">社会保险是指国家通过立法强制社会保险基金，具有所得重分配功能的非营利性的社会安全制度。</p>
                            <p>社会保险是一种为丧失劳动能力、暂时失去劳动岗位或因健康原因造成损失的人口提供收入或补偿的一种社会和经济制度。</p>
                            <img src="~/Content/img/banner1_1.png" alt="" class="am-margin-left-xl" />
                            <p>社会保险的主要项目包括养老保险、医疗保险、失业保险、工伤保险、生育保险，不同地区稍有差异。</p>
                        </article>
                    </li>
                    <li>
                        <h3>买社保对我有什么好处？</h3>
                        <article class="grey">
                            <p class="am-margin-top-lg">1.若不幸生病需住院，可获医疗理赔报销</p>
                            <p>2.对于准备生宝宝的家庭，因生育保险，可得到不错的生育津贴和生育住院报销</p>
                            <p>3.若你自动或者被动失业，还可以申请失业补贴</p>
                            <p class="am-margin-top-lg">除此之外，很多地区买车、买房、外地户口孩子上学以及参加高考，甚至是办出国签证，都需要提供在当地购买满一定期限的社保证明。</p>
                            <p class="am-margin-top-lg">所以只要购买了社保。这些问题都可以统统帮你解决。</p>
                        </article>
                        <div class="grey shebao-sum am-margin-top-xl">
                            <span>总结：</span>年轻时候的小小付出，晚年则可得到丰厚回报奥，这个算下来可能比彩票头
                            奖还幸运！另外，欧美国家的经验告诉我们，随着社会的高度发展，社会保障体系
                            会日臻完善，我们坚信回报会更多。
                        </div>
                    </li>
                </ul>
            </div>
            <!--<img src="img/b1-shebao.jpg" alt="社保规则" />-->
        </div>
    </div>
</div>