@{
    ViewBag.Title = "社保规则";
    Layout = "~/Views/_Layout_index_1.cshtml";
}
<!--咨询详情-->
<div class="">
    <div class="am-padding bg-lightgrey">
        <div class="container">
            <a href="/" class="text-muted">
                <span class="bg-white icon-w-box am-text-middle">
                    <i class="icon-w icon-home" aria-hidden="true"></i>
                </span>
                <span class="am-text-middle am-padding-left-xs">HOME</span>
            </a>
            <span>></span>
            <span>中威无忧</span>
        </div>
    </div>
    <!--banner图-->
    <img src="~/Content/img/PC_banner2.jpg" alt="中威无忧" width="100%" />
    <div>
        <div class="bg-lightgrey">
            <div class="intro-wuyou bg-white am-padding-top">
                <div class="cb am-margin-bottom am-margin-horizontal am-padding-vertical bg-lightgrey">
                    <div class="am-fl am-padding-vertical-sm am-margin-left-lg intro-wuyou-left">
                        <div class="cb blue">
                            <img src="~/Content/img/wuyou-kefu.png" alt="" width="70px" class="am-margin-top am-fl am-margin-left-lg am-margin-right-lg" />
                            <div class="am-fl am-margin-left-lg">
                                <span class="grey">24小时在线客服</span>
                                <div class="am-margin-top-xs">
                                    咨询热线
                                </div>
                                <span>400-532-600</span>
                                <div class="am-margin-top-xs">
                                    售后服务
                                </div>
                                <span>400-532-600</span>
                            </div>
                        </div>
                    </div>
                    <div class="am-fr" style="width: 65%">
                        <div class="am-inline-block cb am-margin-left-lg">
                            <div class="am-inline-block text-center wuyou-download am-margini-left-lg">
                                <img src="~/Content/img/App_download.png" alt="" width="80px" class="am-margin-top-xs" />
                                <div class="am-margin-top-xs">扫描二维码下载APP</div>
                            </div>
                            <div class="am-inline-block  text-center wuyou-service">
                                <img src="~/Content/img/weixin_Service.jpg" alt="" width="80px" class="am-margin-top-xs" />
                                <div class="am-margin-top-xs">扫描关注微信号</div>
                            </div>
                            <div class="am-text-lg am-inline-block am-margin-left-lg intro-wuyou-r">
                                <span>中威无忧</span>
                                <div>您的社保公积金服务专家！</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--产品特点-->
                <div class="text-center wuyou-specail-all">
                    <span class="am-text-xl wuyou-secial-title">产品特点</span>
                    <div class="text-center">
                        <ul class="wuyou-special cb">
                            <li>诚信企业</li>
                            <li>快捷</li>
                            <li>方便</li>
                            <li>随时查</li>
                        </ul>
                        <img src="~/Content/img/wuyou-chanpintedian.png" alt="产品特点" />
                    </div>
                </div>
                <!--随时查，一站式-->
                <div class="text-center">
                    <img src="~/Content/img/wuyou-iphone.png" alt="随时查，一站式" />
                </div>
            </div>
            <!--<img src="img/b2-wuyou.jpg" alt="中威无忧" />-->
        </div>
    </div>
</div>
