@{
    ViewBag.Title = "如何买";
    Layout = "~/Views/_Layout_index_1.cshtml";
}<!--咨询详情-->
<div class="">
    <div class="am-padding bg-lightgrey">
        <div class="container">
            <a href="/" class="text-muted">
                <span class="bg-white icon-w-box am-text-middle">
                    <i class="icon-w icon-home" aria-hidden="true"></i>
                </span>
                <span class="am-text-middle am-padding-left-xs">HOME</span>
            </a>
            <span>></span>
            <span>如何买</span>
        </div>
    </div>
    <!--banner图-->
    <img src="~/Content/img/PC_banner3.jpg" alt="如何买" width="100%" />
    <div>
        <div class="text-center bg-lightgrey">
            <img src="~/Content/img/b3-buy.jpg" alt="如何买" />
        </div>
    </div>
</div>