 @{ ViewBag.Title = "借款"; Layout = "~/Views/_Layout_index.cshtml"; }

<div class="bg-lightgrey">
	<!--价格-->
	<div class="am-padding-xl bg-white">
		<div class="container am-text-default">
			<div class="">
				<strong class="text-primary">||</strong> 适合的借款对象
			</div>
			<div class="text-center am-padding-top-xl">
				<img src="/Content/img/loan-obj.png" width="100%" />
			</div>
			<div class="text-right am-padding-top-xl">
				<a href="@Url.Action("Loan","Loan")" class="toLoanBtn">我要贷款 >></a>
			</div>
		</div>
	</div>
	<!--申请条件-->
	<div class="am-padding-xl bg-white am-margin-vertical-sm">
		<div class="container">
			<div class="am-text-default">
				<strong class="text-primary">||</strong> 申请条件
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="conditionBox relative">
						<span class="label label-primary bg-lightblue am-text-lg">申请条件</span>
						<ul class="list grey">
							<li>年龄:18-60岁</li>
                            <li>现社保缴纳连续代缴六个月以上</li>
						</ul>
						<i class="icon-w icon-lg-person"></i>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
					<div class="requestBox relative">
						<span class="label label-primary bg-lightblue am-text-lg">所需材料</span>
						<ul class="list grey">
							<li>二代身份证</li>
							<li>社保卡号</li>
						</ul>
						<i class="icon-w icon-lg-present"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--借款流程-->
	<div class="am-padding-xl bg-white am-margin-bottom-sm">
		<div class="container">
			<div class="am-text-default">
				<strong class="text-primary">||</strong> 借款流程
			</div>
			<div class="text-center am-padding-top-xl">
				<img src="/Content/img/loan-flow.png" width="100%"  />
			</div>
		</div>
	</div>
	<!---->
</div>