@model SocialSecurityException
@section Footer{
    <style>
        span.lineheight {
            line-height: 31px;
        }
    </style>
    <script>
        $(function () {
            $(".Huialert.Huialert-info").fadeOut(2000);
        })
    </script>
}
<div class="pd-20">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.PeopleIds);
        if (string.IsNullOrWhiteSpace(ViewBag.ErrorMessage + "") == false)
        {
            <div class="Huialert Huialert-info">@(ViewBag.ErrorMessage)</div>
        }
        <div class="row cl">
            <label class="form-label col-2">异常备注：</label>
            <div class="formControls col-8">
                @Html.TextAreaFor(m => m.Exception, new { @class = "input-text textarea" })
            </div>

        </div>
        <div class="row cl">
            <label class="form-label col-2"> </label>
            <div class="col-2">@Html.ValidationMessageFor(m => m.Exception)</div>

        </div>

    }

</div>