
@section Footer{
    <script src="~/Content/lib/laydate-master/laydate.dev.js"></script>
    <script type="text/javascript">
        $(function () {
            if ('@Request.Params["type"]' == 1) {
                $('input,select,textarea', $('form')).attr('disabled', true);
                $('button', $('form')).css('display', 'none');
            }

        })

        laydate({
            elem: '#J-xl'
        });
    </script>
    <style>
        span.lineheight {
            line-height: 31px;
        }
    </style>
}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 财务管理 <span class="c-gray en">&gt;</span> 社保公积金交费<a class="btn btn-success radius r mr-20" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新"><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="pd-20">
    <form action='@Url.Action("EditMemberExtensionInformation", "Member")' method="post" class="form form-horizontal" id="form-article-add">

        <div class="row cl">
            <label class="form-label col-2">交费方式：</label>
            <div class="formControls col-2">
                <span class="select-box" style="width: 270px;">
                    <select class="select">
                        <option value="现金">现金</option>
                    </select>
                </span>
            </div>
            <label class="form-label col-2">用户类型：</label>
            <div class="formControls col-2">
                个人
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">缴费月数：</label>
            <div class="formControls col-2">
                <span class="select-box" style="width: 270px;">
                    <select class="select">
                        <option value="1">1个月</option>
                        <option value="2">2个月</option>
                        <option value="3">3个月</option>
                        <option value="4">4个月</option>
                        <option value="5">5个月</option>
                        <option value="6">6个月</option>
                        <option value="7">7个月</option>
                        <option value="8">8个月</option>
                        <option value="9">9个月</option>
                        <option value="10">10个月</option>
                        <option value="11">11个月</option>
                        <option value="12">12个月</option>
                    </select>
                </span>
            </div>
            <label class="form-label col-2">服务专员：</label>
            <div class="formControls col-2">
                李四
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">应交金额：</label>
            <div class="formControls col-2">
                社保费 1909.32 + 服务费 0 = 1909.32
            </div>
            <label class="form-label col-2">基数：</label>
            <div class="formControls col-2">
                2423
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">个人账户：</label>
            <div class="formControls col-2">
                0.00 <input type="checkbox" name="IsUseAmount" id="IsUseAmount" value="" /><label for="IsUseAmount"> 使用个人帐户交费</label>
            </div>
            <label class="form-label col-2">比例：</label>
            <div class="formControls col-2">
                2423
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">实际交费：</label>
            <div class="formControls col-2">
                <input type="text" name="" value="" class="input-text" />

            </div>
            <label class="form-label col-2">每月应交：</label>
            <div class="formControls col-2">
                954.66
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-2">服务起始日期：</label>
            <div class="formControls col-2">
                2016年4月
            </div>
            <label class="form-label col-2">已交费到日期：</label>
            <div class="formControls col-2">
                2016年6月
            </div>
        </div>
        <div class="row cl">
            <div class="col-10 col-offset-2">
                <button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 交费</button>
            </div>
        </div>
    </form>
</div>